div{
    width: 200px;
    height: 200px;
    background: red;
    transition: width 2s;
}

div p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font: 20px bold;
}

div:hover {
    width: 400px;
    background: blue;
}

div.happy{
    margin-top: 20px;
    background: green;
    transform: translate(50px, 100px) rotate(20deg) scale(2.0, 2.0);
}

div.happy:hover{
    transform: rotateZ(90deg);
}

div.header{
    background: blue;
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
}

@keyframes example {
    from {background-color: red;}
    to {background-color :hotpink;}
}

@media only screen and (max-width: 600px) {
    body{
        background-color: lightblue;
    }
}
.gap{
    height: 2000px;
    background: yellow;
    animation-name: example;
    animation-duration: 4s;
    animation: example 4s infinite;
}